{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block extra_css %}
    {% render_bundle 'home' 'css' %}
{% endblock extra_css %}

{% block title %}新西兰旅游, 度假信息 - 梦幻新西兰{% endblock title %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <header class="banner">
        <div id="search-container" class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div id="search-tab">
                <ul class="resp-tabs-list">
                    <li class="col-sm-6"><i class="fa fa-search" aria-hidden="true"></i>搜你想要</li>
                    <li class="col-sm-6"><i class="glyphicon glyphicon-th-list" aria-hidden="true"></i>随便看看</li>
                </ul>
                <div class="resp-tabs-container">
                    <div>
                        <form>
                            <input type="text" placeholder="海格立公园，天空塔">
                            <input type="submit" value="搜索">
                        </form>
                    </div>
                    <div>
                        <form>
                            <select>
                                {% for region in page.regions %}
                                    <option value="{{ region.regionname }}">{{ region.label }}</option>
                                {% endfor %}
                            </select>
                            <select>
                                {% for business_type in page.business_types %}
                                    <option value="{{ business_type.value }}">{{ business_type.label }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="看看">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="listings container">
        {% if page.listings %}
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                {% for listing in page.listings %}
                    <div class="grid-item">
                        {% include 'home/listing.html' %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No listing currently available</p>
        {% endif %}
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
    {% render_bundle 'home' 'js' %}
{% endblock extra_js %}