[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.13.0"
django-extensions = "==1.7.5"
django-webpack-loader = "==0.4.1"
sorl-thumbnail = "==12.3"
django-filter = "==1.0.1"
djangorestframework = "==3.8.2"
django = "==1.11.23"
"psycopg2" = "==2.7.5"
wagtail = "==2.2.2"

[dev-packages]

[requires]
python_version = "3.6"
