{% extends 'listings/layout.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block content %}
    <header>
        <div id="search-container" class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div id="search-tab">
                <ul class="resp-tabs-list">
                    <li class="col-sm-6"><i class="fa fa-search" aria-hidden="true"></i>搜你想要</li>
                    <li class="col-sm-6"><i class="glyphicon glyphicon-th-list" aria-hidden="true"></i>随便看看</li>
                </ul>
                <div class="resp-tabs-container">
                    <div>
                        <form>
                            <input type="text" placeholder="海格立公园，天空塔">
                            <input type="submit" value="搜索">
                        </form>
                    </div>
                    <div>
                        <form>
                            <select>
                                <option>奥克兰</option>
                                <option>基督城</option>
                                <option>皇后镇</option>
                            </select>
                            <select>
                                <option>购物</option>
                                <option>极限运动</option>
                                <option>旅游观光</option>
                            </select>
                            <input type="submit" value="看看">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </header>
    {% if tnzlisting_list %}
        <ul>
            {% for listing in tnzlisting_list|slice:":12" %}
                <li>
                {% include 'listings/includes/listing.html' %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No listing currently available</p>
    {% endif %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'lib/easy-responsive-tabs/easyResponsiveTabs.js' %}"></script>
    {% render_bundle 'index' 'js' %}
{% endblock content %}