{% extends 'listings/layout.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block content %}
    <header>
        <div id="search-container" class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div id="search-tab">
                <ul class="resp-tabs-list">
                    <li class="col-sm-4"><i class="fa fa-map-marker" aria-hidden="true"></i>我想去哪</li>
                    <li class="col-sm-4"><i class="glyphicon glyphicon-th-list" aria-hidden="true"></i>随便看看</li>
                    <li class="col-sm-4"><i class="fa fa-search" aria-hidden="true"></i>搜你想要</li>
                </ul>
                <div class="resp-tabs-container">
                    <div>
                        <select>
                            <option>奥克兰</option>
                            <option>基督城</option>
                            <option>皇后镇</option>
                        </select>
                    </div>
                    <div>
                        <select>
                            <option>购物</option>
                            <option>极限运动</option>
                            <option>旅游观光</option>
                        </select>
                    </div>
                    <div>
                        <form>
                            <input type="text" placeholder="海格立公园，天空塔">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </header>
    {% if tnzlisting_list %}
        <ul>
            {% for listing in tnzlisting_list|slice:":12" %}
                <li>
                {% include 'listings/includes/listing.html' %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No listing currently available</p>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'lib/easyResponsiveTabs.js' %}"></script>
    {% render_bundle 'index' 'js' %}
{% endblock content %}