{% extends 'listings/layout.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block content %}
    <div class="banner" style="background-image: url('{% static 'images/coronet-peak.jpg' %}')"></div>
    {% if tnzlisting_list %}
        <ul>
            {% for listing in tnzlisting_list|slice:":12" %}
                <li>
                {% include 'listings/includes/listing.html' %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No listing currently available</p>
    {% endif %}
    {% render_bundle 'index' %}
{% endblock content %}