{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fantasy</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/easy-responsive-tabs/easy-responsive-tabs.css' %}">
    {% render_bundle 'index' 'css' %}
    <script src="https://use.typekit.net/jij7kpo.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

{% include 'listings/includes/header.html' %}

<div class="main">
    {% block content %}
    Fantasy
{% endblock content %}
</div>

</body>
</html>