{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load thumbnail %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
    {% render_bundle 'common' 'css' %}
    {% render_bundle 'listing' 'css' %}
{% endblock extra_css %}
{% block content %}
    <header class="banner">
        <h3 class="title">
            {{ listing.name }}
        </h3>

        {% if listing.slider_images|length %}
            <div class="slick">
                {% for image in listing.slider_images %}
                    <div class="slick-item">
                        {% thumbnail image.file '1280x500' crop='center' as image %}
                            <img src="{{ image.url }}">
                        {% endthumbnail %}
                    </div>
                {% endfor %}
            </div>
        {% else %}

        {% endif %}
    </header>

    <div class="content row">
        <div class="container">
            <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-8">
                <div class="description col-xs-12">
                    {% if listing.listing_description %}
                        <p>{{ listing.listing_description }}</p>
                    {% endif %}
                    {% if listing.listing_types|length %}
                        <div class="tags">标签: <span class="value">{{ listing.listing_types_string }}</span></div>
                    {% endif %}
                </div>
                <div class="contact col-xs-12">
                    {% if listing.website_link %}
                        <div class="margin-item">网址: <a class="value" href="{{ listing.website_link }}"
                                                        target="_blank">{{ listing.website_link }}</a></div>
                    {% endif %}
                    {% if listing.booking_link %}
                        <div class="margin-item">订票地址: <a class="value" href="{{ listing.booking_link }}"
                                                          target="_blank">{{ listing.booking_link }}</a></div>
                    {% endif %}
                    {% if listing.booking_email %}
                        <div class="margin-item"><a class="value"
                                                    href="mailto:{{ listing.booking_email }}">订票邮箱: {{ listing.booking_email }}</a>
                        </div>
                    {% endif %}
                    {% if listing.phone %}
                        <div class="margin-item">电话: <a class="value"
                                                        href="tel:{{ listing.phone }}">{{ listing.phone }}</a></div>
                    {% endif %}
                    {% if listing.freephone %}
                        <div class="margin-item">免费电话: <a class="value"
                                                          href="tel:{{ listing.freephone }}">{{ listing.freephone }}</a>
                        </div>
                    {% endif %}
                    {% if listing.mobile %}
                        <div class="margin-item">移动电话: <a class="value"
                                                          href="tel:{{ listing.mobile }}">{{ listing.mobile }}</a></div>
                    {% endif %}
                    {% if listing.email %}
                        <div class="margin-item">邮箱: <a class="value"
                                                        href="mailto:{{ listing.email }}">{{ listing.email }}</a></div>
                    {% endif %}
                </div>
                <div class="information col-xs-12">
                    {% if listing.operational_hours %}
                        <div class="margin-item">营业时间: <span class="value">{{ listing.operational_hours }}</span></div>
                    {% endif %}
                    {% if listing.cancellation_policy %}
                        <div class="margin-item">退票条款: <span class="value">{{ listing.cancellation_policy }}</span>
                        </div>
                    {% endif %}
                    {% if listing.parking %}
                        <div class="margin-item">泊车信息: <span class="value">{{ listing.parking }}</span></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-4">
                <div class="col-xs-12">
                    <h4>位于{{ listing.regionname }}</h4>
                    <div id="map"
                         class="col-xs-12"
                         data-latitude="{{ listing.latitude }}"
                         data-longitude="{{ listing.longitude }}">
                    </div>
                    <address>
                        {% if listing.proximity_to_town %}
                            <div class="margin-item">距离城镇：{{ listing.proximity_to_town }}</div>
                        {% endif %}
                        {% if listing.proximity_to_airport %}
                            <div class="margin-item">距离机场：{{ listing.proximity_to_airport }}</div>
                        {% endif %}
                        {% if listing.address %}
                            <div class="margin-item">详细地址：{{ listing.address }}</div>
                        {% endif %}
                    </address>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block extra_js %}
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBPmlv8C9GzH088ftM63iXDlRWeoub-uBc"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    {% render_bundle 'listing' 'js' %}
{% endblock extra_js %}