{% extends 'base.html' %}
{% block content %}
    {% with tnzregion as region %}
        <h3>{{ region.label }}</h3>
        {% if region.listings %}
            <ul>
                {% for listing in region.listings %}
                    <li>
                        <div>
                            <h3>{{ listing.name }}</h3>
                            <p>{{ listing.listing_summary }}</p>
                            <div style="background: #0000ff url('{{ listing.get_main_image.url }}') no-repeat center/cover; width: 500px; height: 309px"></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No listings found.</p>
        {% endif %}
    {% endwith %}
{% endblock content %}