@import "settings";

header.menu {
  position: absolute;
  width: 100%;
  background-color: transparent;
  top: 0;
  z-index: 10;

  .navbar-header {
    padding: 10px;
  }

  nav.navbar {
    background-color: transparent;
    text-align: center;
    border: none;
    color: #FFFFFF;

    .navbar-brand {
      padding: 0;

      img {
        height: 100%;
      }
    }

    .navbar-toggle {
      .icon-bar {
        background-color: #FFFFFF;
      }
    }

    .navbar-nav {

      &>li {

        &>a {
          color: #FFFFFF !important;
          padding-top: 25px;
          padding-bottom: 25px;
          font-size: 1.1em;
        }
      }

    }

    .navbar-collapse {
      border-top: none;

      a:hover {
        background-color: $background-dark;
      }

      &.collapsing, &.in {
        background-color: $background-darkest;

        a:hover {
          background-color: inherit;
        }
      }
    }
  }

}