@import "settings";
@import "common";
@import "header";
@import "footer";

.template-contactpage {
  header.banner {

    &:after {
      content: '';
      background: url("../../fantasy/static/images/new-zealand-1805933.jpg") 50% 50% no-repeat;
      background-size: cover;
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  p {

    .message {
      padding: 15px;
      margin-top: 20px;
      margin-bottom: 20px;
      display: block;

      &.good {
        color: $color-success;
        border: 1px solid $color-success;
        border-radius: 5px;
      }

      &.bad {
        color: $color-error;
        border: 1px solid $color-error;
      }
    }
  }

  form {
    margin-bottom: 50px;
  }
}