@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "settings";

.menu {
  position: absolute;
  width: 100%;
  background-color: transparent;
  top: 0;
  z-index: 101;

  .navbar-header {
    padding: 10px;
  }

  .navbar {
    background-color: $background-darkest;
    text-align: center;
    border: none;
    color: #FFFFFF;
    border-radius: 0;

    .navbar-brand {
      padding: 0;

      img {
        height: 100%;
      }
    }

    .navbar-toggle {
      .icon-bar {
        background-color: #FFFFFF;
      }
    }

    .nav>li>a {
      color: #FFFFFF !important;
      padding-top: 25px;
      padding-bottom: 25px;
      font-size: 1.1em;

      &:hover, &:focus {
        background-color: $background-dark;
        transition: 1s;
      }
    }

    .navbar-collapse {
      border-top: none;

      &.collapsing, &.in {
        background-color: $background-darkest;
        @include breakpoint($screen-sm-min) {
          background-color: transparent;
        }

        a:hover {
          background-color: inherit;
        }
      }
    }
  }

}