@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

@import "settings";
@import "common";
@import "header";
@import "footer";

.menu > .navbar {
  background-color: $background-darkest;
}

.banner {
  .title {
    position: absolute;
    background-color: $background-darkest;
    color: #ffffff;
    top: 200px;
    text-align: center;
    z-index: 101;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    padding: 30px 50px;
  }

  .slick-track {
    height: 500px;
    background-color: $background-darker;

    img {
      width: 100%;
      margin: auto;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

.content {
  margin: 80px 0;
  padding: 30px 0;
  border-top: 1px solid $border-grey;
  font-size: 1.1em;
  font-weight: 200;

  .description {
    font-size: 1.1em;
    margin-bottom: 20px;
  }

  .tags {
    font-size: smaller;
    font-style: italic;
  }

  .contact, .information {
    padding-top: 20px;
  }

  #map {
    min-height: 200px;
    margin-bottom: 15px;
  }

  address {
    font-size: .9em;
  }
}