@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~breakpoint-sass/stylesheets/breakpoint";
@import "settings";

body {
  position: relative;
  font-family: 'source-han-sans-simplified-c', sans-serif !important;
}

a {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
  }
}

select, input, a, button {
  -moz-appearance: none;

  &:focus {
    outline: none;
  }

}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

img {
  display: block;
  max-width: 100%;
}

/**
Mansonry styles
 */
.grid-sizer, .grid-item {
  width: 100%;

  @include breakpoint($screen-xs-min) {
    width: 48%;
  }

  @include breakpoint($screen-sm-min) {
    width: percentage(1 / 3 - 0.04 * 2 / 3);
  }

  @include breakpoint($screen-md-min) {
    width: percentage(1 / 4 - 0.04 * 3 / 4);
  }

}

.gutter-sizer {
  width: 4%;
}

.grid-item-container {
  height: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.grid-item--width2 {
  width: 40%;
}

.grid-item-height2 {
  height: 800px;
}