@import "settings";
@import "common";
@import "header";
@import "footer";

$header-height: 90px;
$filter-height: 50px;

html, body {
  height: 100%;
}

.template-searchresults {
  #app {
    position: absolute;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

    #filter-container {
      position: absolute;
      height: $filter-height;
    }

    #results-container {
      position: absolute;
      top: $filter-height;
      bottom: 0;
      left: 0;
      width: 60%;

      .results-root {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: auto;
      }
    }
  }

  .map {
    position: absolute;
    top: $filter-height;
    bottom: 0;
    right: 0;
    width: 40%;
  }

  .main-footer {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}