@import "settings";
@import "common";
@import "header";
@import "footer";

$header-height: 90px;
$filter-height: 50px;

html, body {
  height: 100%;
}

.template-searchresults {
  #app {
    position: absolute;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

    #filter-container {
      position: absolute;
      height: $filter-height;
    }

    #results-container {
      position: absolute;
      top: $filter-height;
      bottom: 0;
      left: 0;
      width: 60%;
      overflow: auto;
      border-top: 1px solid $background-grey;
      padding-top: 15px;
    }

    .cards-container {
      overflow: auto;
    }

    .card {
      height: 300px;
      overflow: auto;
      margin-bottom: 30px;

      >a {
        height: 100%;
        display: block;

        h4 {
          padding: 10px 0;
          margin: 0;
        }
      }
    }

    .results-pagination-container {
      text-align: center;
    }

    .results-pagination {
      overflow: auto;
      display: inline-block;

      li {
        list-style: none;
        float: left;
      }
    }

    .page-number {
      margin: 5px;

      button {
        padding: 5px;
        width: 32px;
        height: 32px;
        border: 1px solid $border-grey;
        background-color: #FFFFFF;
        border-radius: 1px;
      }

      &.active button {
        background-color: $background-grey;
        cursor: default;
      }
    }

    .load-icon {
      position: absolute;
      display: none;
      top: $filter-height;
      bottom: 0;
      left: 0;
      width: 60%;
      text-align: center;
      background-color: $background-grey;

      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .loading .load-icon {
      display: block;
    }
  }

  .map {
    position: absolute;
    top: $filter-height;
    bottom: 0;
    right: 0;
    width: 40%;
  }

  .main-footer {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}