@import "settings";
@import "common";
@import "header";
@import "footer";

.template-searchresults {
  header.banner {
    &:after {
      content: '';
      background: url("../../fantasy/static/images/new-zealand-1738275.jpg") 50% 50% no-repeat;
      background-size: cover;
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .map {
    //Placeholder.
    height: 500px;
  }
}