$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";
$primary-color: #008cc9;
$background-darkest: rgba(70, 70, 70, 0.8);
$background-darker: rgba(70, 70, 70, 0.7);
$background-dark: rgba(70, 70, 70, 0.5);
$background-grey: rgba(150, 150, 150, 0.5);
$background-light: rgba(255, 255, 255, 0.5);
$background-lighter: rgba(255, 255, 255, 0.7);
$background-lightest: rgba(255, 255, 255, 0.9);
$border-dark: rgb(70, 70, 70);
$border-grey: rgb(200, 200, 200);
$border-light: rgb(255, 255, 255);
$color-success: #3c763d;
$color-warning: #9f6000;
$color-error: #ff0033;
@import "~breakpoint-sass/stylesheets/breakpoint";
