{% extends "base.html" %}

{% load render_bundle from webpack_loader %}
{% load static wagtailcore_tags %}

{% block extra_css %}
    {% render_bundle 'search' 'css' %}
{% endblock extra_css %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}新西兰旅游, 度假信息 - 梦幻新西兰{% endblock %}

{% block content %}
    <header class="banner">

    </header>
    {% include 'search/app.html' %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
    {% render_bundle 'search' 'js' %}
{% endblock extra_js %}
