{% extends "base.html" %}

{% load render_bundle from webpack_loader %}
{% load static wagtailcore_tags %}

{% block extra_css %}
    {% render_bundle 'search' 'css' %}
{% endblock extra_css %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}新西兰旅游, 度假信息 - 梦幻新西兰{% endblock %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block extra_js %}
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBPmlv8C9GzH088ftM63iXDlRWeoub-uBc"></script>
    {% render_bundle 'search' 'js' %}
{% endblock extra_js %}
