{% load static %}
{% load i18n %}

{% get_available_languages as languages %}

<header class="menu">
    <nav class="navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{% static 'images/fantasy.svg' %}"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">背包客<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">美食</a></li>
                    <li><a href="#">玩乐</a></li>
                    <li><a href="#">极限运动</a></li>
                    <li><a href="#">住宿</a></li>
                    <li><a href="{% url 'contact:index' %}">联系我们</a></li>
                </ul>
                        {% comment %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">语言 <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          {% for lang_code, lang_name in languages %}
                            {% language lang_code %}
                              <li><a href="{{ request.get_full_path }}">{{ lang_name }}</a></li>
                            {% endlanguage %}
                          {% endfor %}
                      </ul>
                    </li>
                  </ul>
                        {% endcomment %}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>

