{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}

{% block extra_css %}
    {% render_bundle 'contact' 'css' %}
{% endblock extra_css %}

{% block body_class %}template-contactpage{% endblock body_class %}

{% block content %}
    <header class="banner">

    </header>
    <div class="container">
        <div class="contact-form">
            <h1 class="text-center">联系我们</h1>
            {% if message %}
                <p class="message-container text-center col-sm-offset-3 col-sm-6">
                    <strong class="{{ message.type }} message">{{ message.text }}</strong>
                </p>
            {% endif %}
            {% if form %}
                <form action="{% url 'contact:index' %}"
                      method="post"
                      class="col-sm-offset-3 col-sm-6 form-horizontal">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <button type="submit" class="btn btn-primary center-block">提交</button>
                </form>
            {% else %}
                <div class="col-sm-offset-3 col-sm-6 text-center">
                    <a href="{% url 'contact:index' %}" class="btn btn-success">返回</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}