{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}

{% block extra_css %}
    {% render_bundle 'contact' 'css' %}
{% endblock extra_css %}

{% block body_class %}template-contactpage{% endblock body_class %}

{% block content %}
    <header class="banner">

    </header>
    <div class="container">
        <div>
            <h1 class="text-center">联系我们</h1>
        </div>
        {% if message %}
            <p class="text-center col-sm-offset-3 col-sm-6">
                <strong class="{{ message_type }} message">{{ message }}</strong>
            </p>
        {% endif %}
        <form action="{% url 'contact:submit' %}"
              method="post"
              class="col-sm-offset-3 col-sm-6 form-horizontal">
{#            {% csrf_token %}#}
            <div class="form-group">
                <label for="email">Email</label>
                <div>
                    <input type="email" id="email" name="email" required class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="name">姓名</label>
                <div>
                    <input type="text" id="name" name="name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="subject">标题</label>
                <div>
                    <input type="text" id="subject" name="subject" required class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="message">内容</label>
                <div>
                    <textarea id="message" name="message" class="form-control" rows="7"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary center-block">提交</button>
        </form>
    </div>

{% endblock content %}